@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-primary: light-dark(#65558f, #d8bcff);
  --color-primary-hover: light-dark(#4b3e7a, #e3d3ff);
  --color-secondary: light-dark(#64748b, #94a1b8);
  --color-secondary-hover: light-dark(#49526b, #b6c2d6);
  --color-success: light-dark(#22c55e, #22c55e);
  --color-success-hover: light-dark(#16a34a, #4ade80);
  --color-warning: light-dark(#facc15, #fde047);
  --color-warning-hover: light-dark(#eab308, #fff066);
  --color-error: light-dark(#e03131, #ff6b6b);
  --color-error-hover: light-dark(#c92a2a, #ff8787);
  --color-info: light-dark(#0ea5e9, #38bdf8);
  --color-info-hover: light-dark(#0284c7, #60cfff);

  --color-background: light-dark(#f5f5f5, #282828);
  --color-surface: light-dark(#f3f4f6, #232326);
  --color-border: light-dark(#ced4da, #424242);

  --color-text-dark: #333333;
  --color-text-light: #ffffff;
  --color-text-primary: light-dark(#ffffff, #333333);
  --color-text-reversed: light-dark(#333333, #ffffff);
  --color-text-secondary: light-dark(#6b7280, #a1a1aa);
  --color-text-disabled: light-dark(#d1d5db, #424242);

  --color-button-background: light-dark(#65558f, #d8bcff);
  --color-button-label: light-dark(#ffffff, #121214);

  --color-input-background: light-dark(#fafafa, #2e2e2e);
  --color-input-border: light-dark(#ced4da, #424242);
  --color-input-placeholder: light-dark(#adb5bd, #696969);
  --color-input-error: light-dark(#e03131, #ff6b6b);
  /* TODO: Add to tailwind config */
  /* --color-input-disabled: light-dark(#, #); */

  --color-datepicker-highlight: light-dark(#65558f, #d8bcff);
  --color-datepicker-error: light-dark(#e03131, #ff6b6b);
  --color-datepicker-text: light-dark(#333333, #ffffff);

  --color-backdrop: light-dark(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 100%;
}
