@import 'tailwindcss';

@theme {
  /* TODO: Implement tokens and theme in general */
  --color-background: light-dark(#ffffff, #0a0a0a);
  --color-brand: light-dark(#65558f, #d8bcff);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}
